* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
 }
 body{
    margin: 0;
    padding: 0;
    background: #e74c3c;
    font-family: "Montserrat";
 }
 #hex{
   display: block;
   color: white;
   font-size: 40px;
   text-transform: uppercase;
 }
 .center{
    justify-content: center;
    text-align: center;
    margin-top: 28rem;
    box-shadow: 200px;
 }